*{
	margin :0;
	padding: 0;
}

* {
  box-sizing: border-box;
}

body{
	width:100%;
	background-image: url('images/cure.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    
    
    }
    

/*.topic{

	padding-top: 200px;
    padding-right: 500px;
    padding-bottom: 50px;
    padding-left: 80px;
	text-align: left;
	color:white;
    position: absolute;
    animation-name: anim1;
    animation-duration: 5s;
    
    font-size:40px
	}
	.page{
		padding-bottom: 25px;
		font-size: 70px;
		
	}
	
	.page1{
		padding-bottom: 50px;
		}

	.page2{
		padding-bottom: 50px;
	}
	.page3{
		padding-bottom: 50px;
	}
	.page4{
		padding-bottom: 50px;
	}
	.page5{
		padding-bottom: 50px;
	}
	.page6{
		padding-bottom: 50px;
	}
	.page7{
		padding-bottom: 50px;
	}
	.page8{
		padding-bottom: 50px;
	}

@keyframes anim1 {
   0%   {color:white; left:0px; top:0px;}
  50%  {color:pink; left:200px; top:0px;}
  100% {color:white; left:0px; top:0px;} 
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: pink;
text-decoration: none;
}
a:hover {
	transition-property: transform;
    transition-delay: 2s;
    color: hotpink; 
    transform : rotateY(180deg);
}*/

.topic{

	padding-top: 200px;
    padding-right: 500px;
    padding-bottom: 50px;
    padding-left: 80px;
	text-align: left;
	color:white;
    position: absolute;
    animation-name: anim1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    font-size:40px
	}
	.page{
		padding-bottom: 25px;
		font-size: 70px;
		animation: anim1 2s;
        animation-fill-mode: forwards;
	}
	
	.page1{
		padding-bottom: 50px;
        animation: anim1 2s;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
		}

	.page2{
		padding-bottom: 50px;
		animation: anim1 2s;
        animation-delay: 0.7s;
        animation-fill-mode: forwards;

	}
	.page3{
		padding-bottom: 50px;
		animation: anim1 2s;
        animation-delay: 0.9s;
        animation-fill-mode: forwards;
	}
	.page4{
		padding-bottom: 50px;
		animation: anim1 2s;
        animation-delay: 1.1s;
        animation-fill-mode: forwards;
	}

	.page5{
		padding-bottom: 50px;
        animation: anim1 2s;
        animation-delay: 1.3s;
        animation-fill-mode: forwards;
	}
	.page6{
		padding-bottom: 50px;
		animation: anim1 2s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
	}

	.page7{
		padding-bottom: 50px;
		animation: anim1 2s;
        animation-delay: 1.7s;
        animation-fill-mode: forwards;
	}
	.page8{
		padding-bottom: 50px;
		animation: anim1 2s;
        animation-delay:1.9s;
        animation-fill-mode: forwards;
	}

@keyframes anim1 {
   0%   {color:white; left:0px; top:0px;}
  50%  {color:pink; left:200px; top:0px;}
  100% {color:white; left:0px; top:0px;} 
}

@-webkit-@keyframes anim1 {
   0%   {color:white; left:0px; top:0px;}
  50%  {color:pink; left:200px; top:0px;}
  100% {color:white; left:0px; top:0px;} 
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: pink;
text-decoration: none;
}
a:hover {
color: hotpink; 
}

.topic{
	width:100%;
}

@media only screen and (max-width: 770px) {
    .topic {
        padding-top: 2vh;
        padding-left: 2vw;
        
    }
    .topic {
        font-size: 3rem;
    }
    .page {
        padding-bottom: 8vh;
        padding-left: 2vw;
        font-size: 4rem;
        animation: anim1 2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    @keyframes anim1 {
        0% {
            color: rgba(252, 252, 252, 0);
            margin-left: 0px;
        }
        50% {
            color: rgba(255, 192, 203, 1);
            margin-left: 2vw;
        }
        100% {
            color: white;
            margin-left: 0px;
        }
    }
}

@media only screen and (max-width: 450px) {
    body {
        background-image: url("images/cure.jpg");
        background-size: cover;
        
    }
    .topic {
        padding-top: 2vh;
        padding-left:2vw;
        text-align: left;
        color: rgba(252, 252, 252, 0);
    }
    .topic {
        font-size: 2rem;
    }
    .page {
        padding-bottom: 8vh;
        padding-left: 2vw;
        font-size: 4rem;
        animation: anim1 2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    @keyframes anim1 {
        0% {
            color: rgba(252, 252, 252, 0);
            margin-left: 0px;
        }
        50% {
            color: rgba(255, 192, 203, 1);
            margin-left: 4vw;
        }
        100% {
            color: white;
            margin-left: 0px;
        }
    }
}

/*@media only screen and (max-width: 765px) {
  .topic{
    width:100%;
    font-size: 15px;
  }
}
*/
/*break;*/

#img1 {
  border-radius: 50px;
  height:300px;
  width: 300px;
  padding:0;
  float: right;
  margin-left:auto;
  margin-right:100px;
  margin-top:0;
  animation-name: anim22;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
#img1:hover{
	
	transform: rotate(180deg);
}

@keyframes anim22{

   0%{margin-top:-50px;}
 100%{margin-top:250px;}
}

#int1{
  height:25px;
    }
    
#int1{
	 font-size: 40px;
	 color:white;
	 padding-left: 100px;
	 position:relative;
	 animation-name: anim20;
     animation-duration: 5s;
     animation-fill-mode:forwards;
     margin-top:70px;
     }

@keyframes anim20{
 0%{top:-50px;color:white;}
 100%{top:200px;color:hotpink;}
}


.intro{
	color:white;
	text-align: justify;
    width:500px;
    word-spacing: 10px;
    line-height: 1.5;
    font-size: 25px;
    padding-top: 250px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    position:relative;
    animation-name: anim21;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}
@keyframes anim21{
 0%{left:-1000px;}
 100%{left:10px;}
}

@media only screen and (max-width: 450px) {
    .body{
	width:100%;
}

#int1{
	width:100%;
	color:hotpink;
	text-align:center;
	font-size: 2rem;
   padding-top:1vh;
   margin-top:3vh;
   margin-left:0;
   animation:none;
   padding-left:1vh;
}

.intro{
	width:100%;
	text-align:justify;
	font-size: 2rem;
    padding-top:1vh;
    margin-top:4vh;
    margin-left:auto;
    margin-right:auto;
        }

#img1{
	border-radius:10px;
	width: 100%;
	padding-top:1vh;
	height:200%;
    margin-top:1vh;
    float:none;
    margin-left:40vw;
    margin-right:auto;
    animation-name: anim22;
    animation-fill-mode: forwards;
     }

@keyframes anim22{

   0%{margin-top:-50px;}
 100%{margin-top:2vh;}
}
}

/*break*/
#img2 {
  border-radius: 50px;
  height:300px;
  width: 500px;
  padding:0;
  float: right;
  margin-left:auto;
  margin-right:100px;
  margin-top:0;
  animation-name: anim22;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
#img2:hover{
	
	transform: rotate(180deg);
}

@keyframes anim22{

   0%{margin-top:-50px;}
 100%{margin-top:250px;}
}

#int2{
  height:25px;
    }
    
#int2{
	 font-size: 40px;
	 color:white;
	 padding-left: 100px;
	 position:relative;
	 animation-name: anim20;
     animation-duration: 5s;
     animation-fill-mode:forwards;
     margin-top:70px;
     }

@keyframes anim20{
 0%{top:-50px;color:white;}
 100%{top:200px;color:hotpink;}
}

@media only screen and (max-width: 450px) {
    .body{
	width:100%;
}

#int2{
	width:100%;
	color:hotpink;
	text-align:center;
	font-size: 2rem;
   padding-top:1vh;
   margin-top:3vh;
   margin-left:0;
   animation:none;
   padding-left:1vh;
}

.intro{
	width:100%;
	text-align:justify;
	font-size: 2rem;
    padding-top:1vh;
    margin-top:4vh;
    margin-left:auto;
    margin-right:auto;
        }

#img2{
	border-radius:10px;
	width: 100%;
	padding-top:1vh;
	height:200%;
    margin-top:1vh;
    float:none;
    margin-left:40vw;
    margin-right:auto;
    animation-name: anim22;
    animation-fill-mode: forwards;
     }

@keyframes anim22{

   0%{margin-top:-50px;}
 100%{margin-top:2vh;}
}
}

/*break*/

#img3 {
  border-radius: 50px;
  height:300px;
  width: 500px;
  padding:0;
  float: right;
  margin-left:auto;
  margin-right:100px;
  margin-top:0;
  animation-name: anim22;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
#img3:hover{
	
	transform: rotate(180deg);
}

@keyframes anim22{

   0%{margin-top:-50px;}
 100%{margin-top:250px;}
}

#int3{
  height:25px;
    }
    
#int3{
	 font-size: 40px;
	 color:white;
	 padding-left: 100px;
	 position:relative;
	 animation-name: anim20;
     animation-duration: 5s;
     animation-fill-mode:forwards;
     margin-top:70px;
     }

@keyframes anim20{
 0%{top:-50px;color:white;}
 100%{top:200px;color:hotpink;}
}

@media only screen and (max-width: 450px) {
    .body{
	width:100%;
}

#int3{
	width:100%;
	color:hotpink;
	text-align:center;
	font-size: 2rem;
   padding-top:1vh;
   margin-top:3vh;
   margin-left:0;
   animation:none;
   padding-left:1vh;
}

.intro{
	width:100%;
	text-align:justify;
	font-size: 2rem;
    padding-top:1vh;
    margin-top:4vh;
    margin-left:auto;
    margin-right:auto;
        }

#img3{
	border-radius:10px;
	width: 100%;
	padding-top:1vh;
	height:200%;
    margin-top:1vh;
    float:none;
    margin-left:40vw;
    margin-right:auto;
    animation-name: anim22;
    animation-fill-mode: forwards;
     }

@keyframes anim22{

   0%{margin-top:-50px;}
 100%{margin-top:2vh;}
}
}

/*break*/

#img4 {
  border-radius: 50px;
  height:300px;
  width: 500px;
  padding:0;
  float: right;
  margin-left:auto;
  margin-right:100px;
  margin-top:0;
  animation-name: anim22;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
#img4:hover{
	
	transform: rotate(180deg);
}

@keyframes anim22{

   0%{margin-top:-50px;}
 100%{margin-top:250px;}
}

#int4{
  height:25px;
    }
    
#int4{
	 font-size: 40px;
	 color:white;
	 padding-left: 100px;
	 position:relative;
	 animation-name: anim20;
     animation-duration: 5s;
     animation-fill-mode:forwards;
     margin-top:70px;
     }

@keyframes anim20{
 0%{top:-50px;color:white;}
 100%{top:200px;color:hotpink;}
}

@media only screen and (max-width: 450px) {
    .body{
	width:100%;
}

#int4{
	width:100%;
	color:hotpink;
	text-align:center;
	font-size: 2rem;
   padding-top:1vh;
   margin-top:3vh;
   margin-left:0;
   animation:none;
   padding-left:1vh;
}

.intro{
	width:100%;
	text-align:justify;
	font-size: 2rem;
    padding-top:1vh;
    margin-top:4vh;
    margin-left:auto;
    margin-right:auto;
        }

#img4{
	border-radius:10px;
	width: 100%;
	padding-top:1vh;
	height:200%;
    margin-top:1vh;
    float:none;
    margin-left:40vw;
    margin-right:auto;
    animation-name: anim22;
    animation-fill-mode: forwards;
     }

@keyframes anim22{

   0%{margin-top:-50px;}
 100%{margin-top:2vh;}
}
}

/*break*/

#img5 {
  border-radius: 50px;
  height:300px;
  width: 500px;
  padding:0;
  float: right;
  margin-left:auto;
  margin-right:100px;
  margin-top:0;
  animation-name: anim22;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
#img5:hover{
	
	transform: rotate(180deg);
}

@keyframes anim22{

   0%{margin-top:-50px;}
 100%{margin-top:250px;}
}

#int5{
  height:25px;
    }
    
#int5{
	 font-size: 40px;
	 color:white;
	 padding-left: 100px;
	 position:relative;
	 animation-name: anim20;
     animation-duration: 5s;
     animation-fill-mode:forwards;
     margin-top:70px;
     }

@keyframes anim20{
 0%{top:-50px;color:white;}
 100%{top:200px;color:hotpink;}
}

@media only screen and (max-width: 450px) {
    .body{
	width:100%;
}

#int5{
	width:100%;
	color:hotpink;
	text-align:center;
	font-size: 2rem;
   padding-top:1vh;
   margin-top:3vh;
   margin-left:0;
   animation:none;
   padding-left:1vh;
}

.intro{
	width:100%;
	text-align:justify;
	font-size: 2rem;
    padding-top:1vh;
    margin-top:4vh;
    margin-left:auto;
    margin-right:auto;
        }

#img5{
	border-radius:10px;
	width: 100%;
	padding-top:1vh;
	height:200%;
    margin-top:1vh;
    float:none;
    margin-left:40vw;
    margin-right:auto;
    animation-name: anim22;
    animation-fill-mode: forwards;
     }

@keyframes anim22{

   0%{margin-top:-50px;}
 100%{margin-top:2vh;}
}
}

/*break*/

#img6 {
  border-radius: 50px;
  height:300px;
  width: 500px;
  padding:0;
  float: right;
  margin-left:auto;
  margin-right:100px;
  margin-top:0;
  animation-name: anim22;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
#img6:hover{
	
	transform: rotate(180deg);
}

@keyframes anim22{

   0%{margin-top:-50px;}
 100%{margin-top:250px;}
}

#int6{
  height:25px;
    }
    
#int6{
	 font-size: 40px;
	 color:white;
	 padding-left: 100px;
	 position:relative;
	 animation-name: anim20;
     animation-duration: 5s;
     animation-fill-mode:forwards;
     margin-top:70px;
     }

@keyframes anim20{
 0%{top:-50px;color:white;}
 100%{top:200px;color:hotpink;}
}

@media only screen and (max-width: 450px) {
    .body{
	width:100%;
}

#int6{
	width:100%;
	color:hotpink;
	text-align:center;
	font-size: 2rem;
   padding-top:1vh;
   margin-top:3vh;
   margin-left:0;
   animation:none;
   padding-left:1vh;
}

.intro{
	width:100%;
	text-align:justify;
	font-size: 2rem;
    padding-top:1vh;
    margin-top:4vh;
    margin-left:auto;
    margin-right:auto;
        }

#img6{
	border-radius:10px;
	width: 100%;
	padding-top:1vh;
	height:200%;
    margin-top:1vh;
    float:none;
    margin-left:40vw;
    margin-right:auto;
    animation-name: anim22;
    animation-fill-mode: forwards;
     }

@keyframes anim22{

   0%{margin-top:-50px;}
 100%{margin-top:2vh;}
}
}

/*break*/

#img7 {
  border-radius: 50px;
  height:300px;
  width: 500px;
  padding:0;
  float: right;
  margin-left:auto;
  margin-right:100px;
  margin-top:0;
  animation-name: anim22;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
#img7:hover{
	
	transform: rotate(180deg);
}

@keyframes anim22{

   0%{margin-top:-50px;}
 100%{margin-top:250px;}
}

#int7{
  height:25px;
    }
    
#int7{
	 font-size: 40px;
	 color:white;
	 padding-left: 100px;
	 position:relative;
	 animation-name: anim20;
     animation-duration: 5s;
     animation-fill-mode:forwards;
     margin-top:70px;
     }

@keyframes anim20{
 0%{top:-50px;color:white;}
 100%{top:200px;color:hotpink;}
}

@media only screen and (max-width: 450px) {
    .body{
	width:100%;
}

#int7{
	width:100%;
	color:hotpink;
	text-align:center;
	font-size: 2rem;
   padding-top:1vh;
   margin-top:3vh;
   margin-left:0;
   animation:none;
   padding-left:1vh;
}

.intro{
	width:100%;
	text-align:justify;
	font-size: 2rem;
    padding-top:1vh;
    margin-top:4vh;
    margin-left:auto;
    margin-right:auto;
        }

#img7{
	border-radius:10px;
	width: 100%;
	padding-top:1vh;
	height:200%;
    margin-top:1vh;
    float:none;
    margin-left:40vw;
    margin-right:auto;
    animation-name: anim22;
    animation-fill-mode: forwards;
     }

@keyframes anim22{

   0%{margin-top:-50px;}
 100%{margin-top:2vh;}
}
}

/*break*/

.intro1{
	color:white;
	text-align: left;
    width:1000px;
    word-spacing: 10px;
    line-height: 1.5;
    font-size: 25px;
    padding-top: 250px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    position:relative;
    animation-name: anim81;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}
@keyframes anim81{
 0%{left:-1000px;}
 100%{left:10px;}
}
#img8 {
  border-radius: 50px;
  height:300px;
  width: 500px;
  padding:0;
  float: right;
  margin-left:auto;
  margin-right:100px;
  margin-top:0;
  animation-name: anim82;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
#img8:hover{
	
	transform: rotate(180deg);
}

@keyframes anim82{

   0%{margin-top:-50px;}
 100%{margin-top:250px;}
}

#int8{
  height:25px;
    }
    
#int8{
	 font-size: 40px;
	 color:white;
	 padding-left: 70px;
	 position:relative;
	 animation-name: anim80;
     animation-duration: 5s;
     animation-fill-mode:forwards;
     margin-top:70px;
     }

@keyframes anim80{
 0%{top:-50px;color:white;}
 100%{top:200px;color:hotpink;}
}

@media only screen and (max-width: 450px) {
    .body{
	width:100%;
}

#int8{
	width:100%;
	color:hotpink;
	text-align:center;
	font-size: 2rem;
   padding-top:1vh;
   margin-top:3vh;
   margin-left:0;
   animation:none;
   padding-left:1vh;
}

.intro1{
	width:100%;
	text-align:left;
	font-size: 1.5rem;
    padding-top:1vh;
    margin-top:4vh;
    margin-left:auto;
    margin-right:auto;
        }

#img8{
	border-radius:10px;
	width: 100%;
	padding-top:1vh;
	height:200%;
    margin-top:1vh;
    float:none;
    margin-left:40vw;
    margin-right:auto;
    animation-name: anim82;
    animation-fill-mode: forwards;
     }

@keyframes anim82{

   0%{margin-top:-50px;}
 100%{margin-top:2vh;}
}
}

